<form action="/People/Search" method="post">
    <p class="nav navbar-text navbar-right">
        Search people/groups: 
        <input type="text" name="SearchText" value="@ViewBag.SearchText" />
        <input type="submit" value="Go" />
    </p>
</form>